p {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foto-perfil {
  height: 100%;
  max-width: auto;
  border-radius: 50%;
}

.icones {
  padding-left: 5px;
}

.titulosBrancos {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.titulosAzul {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1855c7
}

.paragrafoBrancos {
  color: white !important;
}


.jumbotron {
  margin-bottom: 0px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black !important;
}


.corPrimaria {
  background-color: #00a7ff;
}

.itemMenu {
  color: white;
}
h3{
  padding-top:90px;
}
h4{
  padding-bottom:90px;
  margin-bottom: 0px;
}
.navbar{
  background-color:#0028a1;
  color:white
}
.final{
  background-color: #0028a1;
  padding: 0px; margin: 0px
}
.pfooter{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white !important;
}