body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  margin: 20px;
}
/*nav bar */
.menu-h ul {
  list-style: none ;
  padding: 0;
  background-color:rgb(144, 144, 147) ;
}
.menu-h ul li {
  display: inline;
  
}
.menu-h ul li a{
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  transition: .4s;
}
.menu-h ul li a:hover{
 
  background-color: rgb(24, 139, 233);
}
/*fimNavBAr*/