body{
  border: 1px solid black ;
  align-items: center;
  padding: 10px;
}
aside {
  border: 1px solid black ;
  background-color: aqua;
}
.tabela{
  border: 1px solid black ;
  background-color: blue;
}


img{
  border-radius: 50%;
}